// Import Bulma's core
@import '~bulma/sass/utilities/_all';

// Set your colors
$primary: #00a4ff;
$primary-invert: findColorInvert($primary);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);

$success: #31c163;
$success-invert: findColorInvert($success);

$warning: #ff9431;
$warning-invert: findColorInvert($warning);

$danger: #f21e1e;
$danger-invert: findColorInvert($danger);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    'white': (
        $white,
        $black
    ),
    'black': (
        $black,
        $white
    ),
    'light': (
        $light,
        $light-invert
    ),
    'dark': (
        $dark,
        $dark-invert
    ),
    'primary': (
        $primary,
        $primary-invert
    ),
    'info': (
        $info,
        $info-invert
    ),
    'success': (
        $success,
        $success-invert
    ),
    'warning': (
        $warning,
        $warning-invert
    ),
    'danger': (
        $danger,
        $danger-invert
    ),
    'twitter': (
        $twitter,
        $twitter-invert
    )
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$toast-opacity: 0.8;

// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';
@import 'animation'
